<div id="<%= dom_id simulation %>">
  <p>
    <strong>Annual revenue:</strong>
    <%= simulation.annual_revenue %>
  </p>

  <p>
    <strong>Entreprise no:</strong>
    <%= simulation.entreprise_no %>
  </p>

  <p>
    <strong>Legal name:</strong>
    <%= simulation.legal_name %>
  </p>

  <p>
    <strong>Natural person:</strong>
    <%= simulation.natural_person %>
  </p>

  <p>
    <strong>Nacebel codes:</strong>
    <%= simulation.nacebel_codes %>
  </p>

</div>
